In [2]:
import numpy as np
import pylab as plt
import pandas as pd

### exercise 1
 For a given value p0, how many times Tesla stock price (min and max average) gets more than p0. 
dataset: tesla-stock-price.csv

input: 

    p0 (float)
    
output: 

    number of occurrence (int)

In [20]:
dftesla = pd.read_csv('datasets/tesla-stock-price.csv')
x = dftesla['date'].values
o = dftesla['open'].values
c = dftesla['high'].values
h = dftesla['high'].values
l = dftesla['low'].values
p0 =300

In [21]:
dflow = dftesla[dftesla['low'] < p0 ]

In [22]:
dfhight =dflow[dflow['high'] > p0].shape

In [23]:
dfhight[0]

51

### exercise 2

How many significant earthquakes occurred in a give country?

dataset: significant-earthquakes.csv

input: 

    country name (string)
    
output:

    number of occurrence (int)

In [3]:
dfeq = pd.read_csv('datasets/significant-earthquakes.csv')

In [5]:
#input
contry = 'Iran'

In [6]:
#rename index
dfeq = dfeq.rename(columns={'Number of significant earthquakes (significant earthquakes)':'sig'})

In [19]:
df_sig = dfeq[(dfeq['Entity']==contry)]
#dfeq['sig'].max()
sig = df_sig['sig'].values
sig.sum()

369

### exercise 3

 For a given list of countries, what is the average U5MR (under 5 morality rate) ratio between two genders in last year. (girls/boys) 
datset: su5m.csv

In [3]:
dfsu5m = pd.read_csv('datasets/su5m.csv')
dfsu5m

,Unnamed: 0,ccode,country,m1990,m2000,m2010,m2015,m2017,f1990,f2000,f2010,f2015,f2017
0,0,AFG,Afghanistan,180.1,133.5,94.2,77.2,71.8,169.7,123.8,85.5,68.8,63.7
1,1,ALB,Albania,43.7,26.7,13.0,10.1,9.5,36.4,22.2,11.0,8.6,8.1
2,2,DZA,Algeria,53.7,42.5,28.9,26.4,25.5,45.3,36.7,25.8,23.5,22.5
3,3,AND,Andorra,9.4,5.4,4.3,3.9,3.6,7.6,4.5,3.6,3.2,3.0
4,4,AGO,Angola,235.0,217.5,129.2,95.1,86.9,211.6,194.5,113.1,82.4,74.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,190,VEN,Venezuela (Bolivarian Republic of),32.5,24.1,18.4,25.0,34.2,26.6,19.1,14.8,19.9,27.4
191,191,VNM,Viet Nam,59.0,34.5,26.6,25.1,24.2,43.7,24.7,19.0,18.0,17.3
192,192,YEM,Yemen,131.4,99.8,60.3,59.4,59.3,120.4,90.4,52.2,51.3,51.4
193,193,ZMB,Zambia,193.5,173.8,88.1,69.8,64.7,176.0,155.9,76.4,59.7,55.1
194,194,ZWE,Zimbabwe,83.8,108.5,93.7,62.0,55.0,70.9,94.6,81.0,51.8,45.4

In [4]:
#input
list_contry = ['Yemen', 'Algeria', 'Zambia']

In [14]:
dfsu5m[dfsu5m['country']==list_contry[2]]['m2017'].values[0]

64.7

In [26]:
U5MR = []
for i in list_contry:
    print(i)
    m = dfsu5m[dfsu5m['country'] == i ]['m2017'].values[0]
    f = dfsu5m[dfsu5m['country'] == i ]['f2017'].values[0]
    U5MR.append(f/m)
np.average(U5MR)

Yemen
Algeria
Zambia

0.8669183017864417

### exercise 4

For a given GDP threshold (upper limit), how much is the average percentage of under 18 migrants among all countries?
datasets: migrants.csv and 2014_world_gdp_with_codes.csv

input:

    GDP threshold (float) 
    
output:

    average percentage of under 18 migrants in percent (float)

In [52]:
df_gdp = pd.read_csv('datasets/2014_world_gdp_with_codes.csv')
df_mig = pd.read_csv('datasets/migrants.csv')

In [53]:
#input
treshold_GDP = 1500

In [54]:
df_mig = df_mig.drop(columns=['Unnamed: 0','percentarea','ccode'])
df_gdp = df_gdp.drop(columns=['CODE'])
#rename index
df_mig = df_mig.rename(columns={'country':'COUNTRY'})

In [57]:
df_merg = pd.merge(df_gdp,df_mig,how='inner',on='COUNTRY')

In [62]:
df_merg_treshold = df_merg[(df_merg['GDP (BILLIONS)'] >= treshold_GDP)]
df_merg_treshold

    COUNTRY  GDP (BILLIONS)  number1000 under18
22   Brazil          2244.0         736      14
29   Canada          1794.0        7861       8
33    China         10360.0        1000      21
53   France          2902.0        7903       7
56  Germany          3820.0       12165       5
68    India          2048.0        5189       6
73    Italy          2129.0        5907       7
75    Japan          4770.0        2321      11

In [71]:
df_merg_treshold[df_merg_treshold['COUNTRY'] == 'China' ]['under18'].values[0]

'21'

In [82]:
percentage_list = []
for i in df_merg_treshold['COUNTRY']:
    all_mig = df_merg_treshold[df_merg_treshold['COUNTRY'] == i ]['number1000'].values[0]
    under18_mig = df_merg_treshold[df_merg_treshold['COUNTRY'] == i ]['under18'].values[0]
    percentage = (int(under18_mig)/int(all_mig))
    percentage_list.append(percentage)
np.average(percentage)

0.004739336492890996